<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="ClientSettingsProvider.ServiceUri" value="" />

		<!-- Override values - If these are used, then they will override RPS / other settings. -->
		<!-- Fill in value to override RPS Settings to locate Runbook files. Default: C:\ContentStore\Runbooks. -->
		<add key="DefaultRunbookFolder" value="" />
		<!-- Fill in value to override RPS Settings to set logging level. Values: Verbose, Information, Warning, Error, Fatal. Default: Information. -->
		<add key="TMSLoggingLevel" value="Information" />
		<!-- Fill in value to override RPS Settings to set the internal global retries. Default: 0. -->
		<add key="MaxRetries" value="1" />
		<!-- Fill in value to override RPS Settings to set the storage value related to PhyrConnectionString if it is used and valid. Values: Inherit, Memory, SqlServer, PostgreSql. -->
		<add key="StorageType" value="" />
		<!-- Fill in value to override RPS Settings to set the queue database. -->
		<add key="PhyrConnectionString" value="" />
		<!-- Fill in value to override RPS Settings to set the queue database name. Default: TMS. -->
		<add key="DefaultDb" value="TMS" />
	</appSettings>

</configuration>